.h1 {
  font-size: 2rem;
}

.h2 {
  text-transform: uppercase;
  word-spacing: 999999px; // force break white space
  font-size: 1.4rem;
}

.h3 {
  font-size: 1.2rem;
}

.body1 {
  font-size: 0.9rem;
}

.body2 {
  font-size: 0.7rem;
}

.zeroMargin {
  margin: 0;
}
