.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Tooltip text */
.tooltip .tooltipContent {
  background-color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  border-width: 3px;
  border-style: solid;
}

.left {
  top: -75px;
  right: 105%;
}

.right {
  top: -5px;
  left: 105%;
}

.rightTop {
  top: -300px;
  left: 105%;
}

.leftTop {
  top: -300px;
  right: 105%;
}

.green {
  border-color: var(--color-green-dark);
  color: var(--color-green-dark);
}

.orange {
  border-color: var(--color-orange-dark);
  color: var(--color-orange-dark);
}

.blue {
  border-color: var(--color-blue-dark);
  color: var(--color-blue-dark);
}

.red {
  border-color: var(--color-red-dark);
  color: var(--color-red-dark);
}

.grey {
  border-color: var(--color-grey-dark);
  color: var(--color-grey-dark);
}

/* Show the tooltip text when you mouse over the tooltip container */
.close {
  visibility: hidden;
}
.open {
  visibility: visible;
}
