:global {
  #workbenchPageContent, .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}

.treeContainer {
  max-width: 840px;
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;

  @media only screen and (min-height: 1200px) {
    max-width: 1000px;
  }
}

.buttonContainer {
  display: flex;
  gap: 4px;
}

.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
