:root {
    --color-green: #8a9d94;
    --color-green-light: #adbeb7;
    --color-green-dark: #4b6d5e;

    --color-red: #b5656d;
    --color-red-light: #ce989e;
    --color-red-dark: #872634;

    --color-orange: #d18140;
    --color-orange-light: #e0ab80;
    --color-orange-dark: #a34600;

    --color-grey: #8d8e93;
    --color-grey-light: #b3b4b7;
    --color-grey-dark: #52555b;

    --color-blue: #799ac3;
    --color-blue-light: #a5bcd7;
    --color-blue-dark: #305d89;
}
