.cls-1 {
  fill: #7f7f7f;
}

.cls-2 {
  fill: #b3b4b7;
}

.cls-3 {
  fill: #ce989e;
}

.cls-4 {
  fill: #adbeb7;
}

.cls-5 {
  fill: #a5bcd7;
}

.cls-6 {
  fill: #e0ab80;
}

.cls-7 {
  fill: #6d5545;
}
