.green {
  color: var(--color-green-dark);
}

.orange {
  color: var(--color-orange-dark);
}

.blue {
  color: var(--color-blue-dark);
}

.red {
  color: var(--color-red-dark);
}

.grey {
  color: var(--color-grey-dark);
}
