.fagfelt {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul, li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    text-align: center;
  }
}

.title {
  width: fit-content;
  white-space: nowrap;
  margin: 0;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  position: relative;
  top: 1.1rem;
  z-index: 2;
}

.sirkelContainer {
  position: absolute;
  top: 25px;
  padding: 8px;
  left: 0;
  bottom: 8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sirkel {
  border-radius: 50%;
  padding-top: 85%;
  width: 100%;

  li:hover {
    color: blue;
  }
}


.small {
  width: calc(100% / 8);
}

.medium {
  width: calc(100% / 6);
}

.large {
  width: calc(100% / 5);
}

.xLarge {
  width: calc(100% / 4);
}

.green {
  .sirkel {
    box-shadow: var(--color-green) 0 8px 24px;
    background-color: var(--color-green);
  }
  .title {
    background-color: var(--color-green-dark);
  }
}

.orange {
  .sirkel {
    box-shadow: var(--color-orange) 0 8px 24px;
    background-color: var(--color-orange);
  }
  .title {
    background-color: var(--color-orange-dark);
  }
}

.blue {
  .sirkel {
    box-shadow: var(--color-blue) 0 8px 24px;
    background-color: var(--color-blue);
  }
  .title {
    background-color: var(--color-blue-dark);
  }
}

.red {
  .sirkel {
    box-shadow: var(--color-red) 0 8px 24px;
    background-color: var(--color-red);
  }
  .title {
    background-color: var(--color-red-dark);
  }
}

.grey {
  .sirkel {
    box-shadow: var(--color-grey) 0 8px 24px;
    background-color: var(--color-grey);
  }
  .title {
    background-color: var(--color-grey-dark);
  }
}
