.fagfelt {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul, li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
    text-align: center;
    line-height: 0;
    cursor: pointer;
  }
}

.title {
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  margin: 0;
  padding: 0 10px 0 10px;
  border-radius: 10px;
}

.sirkelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.sirkel {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  li:hover {
    color: blue;
  }
}

.green {
  .sirkel {
    box-shadow: var(--color-green) 0 8px 24px;
    background-color: var(--color-green);
  }
  .title {
    background-color: var(--color-green-dark);
  }
}

.orange {
  .sirkel {
    box-shadow: var(--color-orange) 0 8px 24px;
    background-color: var(--color-orange);
  }
  .title {
    background-color: var(--color-orange-dark);
  }
}

.blue {
  .sirkel {
    box-shadow: var(--color-blue) 0 8px 24px;
    background-color: var(--color-blue);
  }
  .title {
    background-color: var(--color-blue-dark);
  }
}

.red {
  .sirkel {
    box-shadow: var(--color-red) 0 8px 24px;
    background-color: var(--color-red);
  }
  .title {
    background-color: var(--color-red-dark);
  }
}

.grey {
  .sirkel {
    box-shadow: var(--color-grey) 0 8px 24px;
    background-color: var(--color-grey);
  }
  .title {
    background-color: var(--color-grey-dark);
  }
}
