.tooltip {
  z-index: 1;
  cursor: default;
}

/* Tooltip text */
.tooltipContent {
  background-color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  /* Position the tooltip text - see examples below! */
  border-width: 3px;
  border-style: solid;
}

.green {
  border-color: var(--color-green-dark);
  color: var(--color-green-dark);
}

.orange {
  border-color: var(--color-orange-dark);
  color: var(--color-orange-dark);
}

.blue {
  border-color: var(--color-blue-dark);
  color: var(--color-blue-dark);
}

.red {
  border-color: var(--color-red-dark);
  color: var(--color-red-dark);
}

.grey {
  border-color: var(--color-grey-dark);
  color: var(--color-grey-dark);
}
